<!DOCTYPE html>
<html>
<head>
    <title>My Songs</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    
    <table style="width: 100%;">
    <h1>Songs</h1>

        {{#each songs}}
            <li><a href="/play/{{this.song_id}}"> SONG NAME: {{this.title}} </a></li>
            <li2><a > ARTIST: {{this.artist}}| ALBUM: {{this.album}}| GENRE: {{this.genre}}| YEAR: {{this.year}}</a></li>
			
        {{/each}}
        </ol>
        
    </table>
    {{!-- <p><a href="/upload">upload</a> --}}

    <p>Click on the song to play.</p>

	<form action="/logout">
    	<input type="submit" value="Log Out" />
	</form>
        
	<form action="/upload">
    	<input type="submit" value="Upload Song" />
	</form>
	
        
    </div>
</body>
</html>
