
<!DOCTYPE html>
<html>
<head>
	<title>My Favourite Songs</title>
	<link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	
	<table style="width: 100%;">
	<h1>songs</h1>
				<form action="/" method="get">
					<input type="text" name="q" value="{{query}}">
					<input type="submit" value="Search">
				</form>
		<ol>
		{{#if query}}
    			<p>{{query}}</p>
  		{{/if}}
		{{#each songs}}
			<li></liclass><a href="/play/{{this.song_id}}">{{this.title}} {{this.location}}</a></li>
			<li2></liclass><a >{{this.location}} </a></li>

		{{/each}}
		</ol>
		
	</table>

	<p><a href="/play">play</a>
	<p><a href="/meta">meta</a>
	<p><a href="/login">logout</a>
	<p><a href="/upload">upload</a></p>
	
	</div>
</body>
</html>
